@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/* navbar */

header .container {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}
.img img {
  width: 3vw;
  padding: 5px;
  cursor: pointer;
}
.links ul {
  display: flex;
}
.links ul li {
  padding: 0px 2rem;
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5vw;
  text-transform: capitalize;
}
.links ul li a:hover {
  color: blue;
}

.container {
  display: flex;
  /* padding: 0px 10%; */
  /* align-items: center; */
  padding-top: 4rem;
}
.container .left {
  /* border: 2px solid black;  */
  width: 50vw;
}
.container .left .content {
  margin: 4rem 0 0 4rem;
  width: 600px;
  /* border: 3px solid gray; */
  text-align: center;
}
.left .content h1 {
  /* padding: 2rem 0; */
  padding-bottom: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  color: #333;
}
.left .content h1 span {
  color: blue;
}
.left .content p {
  line-height: 27px;
  color: #333;
  padding-bottom: 2rem;
}
.btn {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 255, 0.658);
  /* border: 2px solid black; */
  padding: 0.6rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: blue;
  padding: 0.7rem;
  font-size: 19px;
  box-shadow: 0px 0px 10px #333;
}
.container .right {
  /* border: 2px solid red ; */
  width: 50vw;
  text-align: center;
}
.container .right img {
  margin-top: 1rem;
  width: 35vw;
  height: 70vh;
  object-fit: cover;
  /* border: 3px solid green; */
  border-radius: 20px;
  box-shadow: 0px 0px 10px #333;
}

@media (max-width: 500px) {
  header .container {
    background-color: #fff;
    display: none;
  }
  .first-page .container {
    display: block;
  }
  .container .right img {
    width: 90vw;
    height: 60vh;
    margin-left: 1.4rem;
    margin-top: 0px;
    /* margin: auto; */
  }
  .container .left .content {
    width: 70vw;
  }
  .left .content h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    color: #333;
  }
}

/* company  */

.page2 {
  margin: 10rem 0px;
  padding: 0px 10%;
  width: 1210px;
  height: 50vh;
}
.page2 .company-container h1 {
  text-align: center;
  font-size: 3vw;
  color: #333;
  padding: 3rem;
  /* text-decoration: underline; */
}
.page2 .company-container {
  text-align: center;
}
.companys img {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
}
@media (max-width: 500px) {
  .page2 {
    margin-top: 90px;
    padding: 0;
    width: 400px;
    display: inline-block;
  }
  .page2 .company-container h1 {
    font-size: 30px;
    margin-left: 25px;
    color: #333;
  }
  .companys {
    margin-left: 35px;
  }
}

.laptop-container h1 {
  text-align: center;
  font-size: 3vw;
  color: #333;
  padding-bottom: 3rem;
}
.laptop-container .content {
  display: flex;
  padding: 0 10%;
  margin: 5rem 0;
}
.content .left img {
  width: 450px;
  object-fit: cover;
}
.content .right {
  width: 50%;
  margin-left: 100px;
  text-align: center;
}
.content .right h1 {
  font-size: 30px;
  font-weight: 500;
}
.content .right p {
  line-height: 25px;
  padding-bottom: 60px;
}
@media (max-width: 500px) {
  .laptop-container {
    margin-top: 80px;
  }
  .laptop-container h1 {
    font-size: 40px;
  }
  .laptop-container .content {
    display: block;
    margin-right: 10px;
  }
  .content .left img {
    width: 300px;
    text-align: center;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/* testimonial section  */

.testimonial {
  width: 100vw;
  height: 100vh;
}
.testimonial h1 {
  text-align: center;
  font-size: 40px;
  color: #333;
  text-transform: capitalize;
  padding: 20px 0;
}
.testimonial .test {
  display: flex;
  /* width: 50%; */
  margin: 100px;
}
.test .t-left {
  width: 50%;
  /* margin-left: 100px; */
}
.test .t-left img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #333;
}
.test .t-right {
  width: 50%;
  text-align: center;
}
.test .t-right p {
  margin-bottom: 40px;
}
.test .t-right h2 {
  margin-bottom: 40px;
  color: #333;
  text-transform: capitalize;
}
@media (max-width: 500px) {
  .testimonial .test {
    display: block;
  }
  .test .t-left img {
    width: 250px;
    /* margin-left: 0px; */
  }
  .test .t-right {
    width: 250px;
    margin-top: 20px;
  }
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #01546b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #024355;
}

/* Add a background color and some padding around the form */
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 600px;
  min-height: 0px;
}
.contents .content i {
  color: #ffbb00;
}

.contact {
  padding: 0px 10%;
}
.contact h1 {
  margin-top: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: rgb(75, 75, 75);
}
.contact .contact-page {
  display: flex;
  margin-top: 70px;
  margin-bottom: 50px;
}
.contact .contact-page .image img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: rgb(20, 173, 224);
}

@media (max-width: 500px) {
  .contact {
    display: block;
    margin-top: 250px;
    /* width: 100px; */
  }
  .contact h1 {
    text-align: center;
  }
  .contact .contact-page {
    display: block;
  }
  .contact .contact-page .image img {
    width: 350px;
    text-align: center;
  }
  .contact .container1 {
    width: 310px;
    text-align: center;
  }
  .contact .container1 a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.658);
    /* border: 2px solid black; */
    padding: 0.6rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    margin: 20px 0px;
  }
  .contact .container1 {
    display: block;
  }
}